<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel=stylesheet href="{{ url_for('static', filename='play.css') }}">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js" integrity="sha384-LzhRnpGmQP+lOvWruF/lgkcqD+WDVt9fU3H4BWmwP5u5LTmkUGafMcpZKNObVMLU" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='play.js') }}"></script>
  </head>
  <body>
    <div>
      Slag: <span id=throw-counter>{{ counter }}</span>
    </div>
    <div class=dice-container>
      {% for data in image_data %}
      <img
        index="{{ data.index }}"
        ondragstart="return false"
        onclick="keep({{ data.index }})"
        class="dice {{ data.kept }}"
        width=128
        src="{{ url_for('static', filename=data.filename) }}"
      >
      {% endfor %}
    </div>
    <div>
      <button onclick=roll()>Slå tärningar</button>
      <button onclick=reset()>Nästa spelare</button>
    </div>
    <div class="scoresheet-container">
      <table id="scoresheet" class="scoresheet">
        {% for row in scoresheet %}
        <tr>
          <th>{{ row.header }}</th>
          {% for cell in row.cells %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="overlay {{ show_overlay }}">
      <div class="overlay-content">
        <input id="player-name" type="text" placeholder="Namn">
        <button onclick="joinGame()">Gå med i spelet</button>
      </div>
  </body>
</html>
